<!doctype html>
{% extends "bootstrap/base.html" %}

{% block scripts %}
{{super()}}
<script>
    URLS = {
        api: "{{ url_for("api") }}"
    };
</script>
{% endblock %}

{% block content %}
<div class="page-header text-center">
  <h1>Persona. <small>Trace you characters!</small></h1>
</div>

<div class="conteiner">
  {% block main_content %}
      Hello. World!!!
  {% endblock %}
</div>

<footer class="footer vcenter">
  <p class="text-muted text-center">
    Infinite ∞ Awesomness
  </p>
</footer>
{% endblock %}
