<!doctype html>
{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block content %}
<div class="page-header text-center">
  <h1>Persona. <small>Trace you characters!</small></h1>
</div>

<div class="container">
  {% block main_content %}
      Hello. World!!!
  {% endblock %}
</div>

<footer class="footer vcenter">
  <p class="text-muted text-center">
    Infinite ∞ Awesomness
  </p>
</footer>
{% endblock %}
