<!doctype html>
{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/main.js')}}"> </script>
{% endblock %}

{% block title %}
Persona
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-fixed-top">
</nav>
{% endblock %}

{% block main_content %}
  <div class="row">

    <div class="col-md-3 hidden-xs">
      <img alt="Alice in wonderland"
      src="{{ url_for('static', filename='alice.png') }}" />
    </div>
    <div class="col-md-6">
      <p class="text-info">
        Upload a story in any reasonable format to get and interactive graph of
        character movements
      </p>

      <form class="form-horizontal" enctype="multipart/form-data" method="post" role="form">
        <div class="form-group">
          <label for="storyInput" class="col-sm-3">Your story:</label>
          <div class="col-sm-6">
            <input type="file" name="file" id="storyInput">
            <p class="help-block">Supported formats: {{ supported_formats }}</p>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block go-btn">Go!</button>
      </form>
    </div>
  </div>
{% endblock %}
