<!doctype html>
{% extends "base.html" %}

{% block scripts %}
  {{super()}}
  <script>
   URLS = {
     api: "{{ url_for('api', filename=filename) }}"
   };
  </script>

  <script src="{{ url_for('static', filename='js/graph.js')}}"> </script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
{% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-md-3">
        {{ title }}
        <ul class="character-list">
        </ul>
    </div>
    <div class="col-md-9">

      <div class="graph-container">
        <svg width="50" height="50" class="transitions">
        </svg>

        <div class="graph">
          Loading...
        </div>
      </div>

    </div>
</div>
{% endblock %}
